<html>
<head>
  <title>Voice Bot Appointment</title>
</head>
<style>
  .container {
    border: 2px solid black;
  }

  .chat-block {
    overflow-y: scroll;
    min-height: 500px;
    max-height: 500px;
    padding: 2px;
  }

  @media only screen and (max-width: 900px) {
    .chat-block {
      max-height: 50rem;
      border: 2px solid black;
    }
  }

</style>  
  <body>
    <h3 id="speech_output" class="hide"></h3>

    <div class="col-12 p-1">
      <div class="container p-2 col-12">
        <div class="text-center pt-2">
          <h3>Voice Bot Appointment</h3>  
        </div>
        <div class="container chat-block h-100">
          <div id="ai-bot-customer-chat"></div>
          <div class="px-2">
            <p id="action" style="color: grey;font-weight: 800; padding: 0"></p>
          </div>
        </div>
        <div class="text-center pt-2">
          <button id="speakButton"class="btn btn-primary" onclick="runSpeechRecog()">Press to Speak</button>  
        </div>
      </div>

    </div>
    
    <script>
      window.on_load = getVoices()
      var scrolled=0;
      var output = document.getElementById('ai-bot-customer-chat');
      var action = document.getElementById('action');
      var allow_abort = false
      var ai_error_message = ""

      if ("webkitSpeechRecognition" in window){
        function runSpeechRecog(){
          var speak_button = document.getElementById('speakButton');
          let recognition = new webkitSpeechRecognition();
          recognition.continuous = false;
          recognition.interimResults = true;
          
          recognition.start();
          recognition.onstart = () => {
            allow_abort = true
            action.innerHTML = "Listening...";
            $("#speakButton").attr("disabled", true)
            $(".chat-block").animate({ scrollTop: 999999999999999 }, 800);
          }
          recognition.onend = (e) => {
            if(allow_abort){
              recognition.stop();
              action.innerHTML = "";
              $("#speakButton").attr("disabled", false)
              ai_error_message = "I'm still learning the system, could you please speak a little more clearly for me?"
              output.innerHTML += "<div class='px-2'><b style='color:red;'>AI Bot:</b><p>"+ai_error_message+"</p></div>"
              responsiveVoice.speak(ai_error_message, "UK English Male", {onstart: responsiveVoiceStart, onend: responsiveVoiceEnd})
              $(".chat-block").animate({ scrollTop: 999999999999999 }, 800);
            }  
          };
          recognition.onresult = (e) => {
            let interimTranscript = "";
            let finalTranscript = "";
            allow_abort = false
            for (let i = e.resultIndex; i < e.results.length; i++) {
              const transcript = e.results[i][0].transcript;
              if (e.results[i].isFinal) {
                finalTranscript += transcript + " ";
              } else {
                interimTranscript += transcript;
              }
            }
            if(finalTranscript != ""){
              output.innerHTML += "<div class='px-2'><b style='color:blue;'>User:</b><p>"+finalTranscript+"</p></div>"
              action.innerHTML = "";
              ask_ai(finalTranscript)
              $("#speakButton").attr("disabled", false)
              $(".chat-block").animate({ scrollTop: 999999999999999 }, 800);
            }
          }
          
        }
      }else{
        alert("Web Speech API not supported in this browser.")
      }

      $(document).ready(function() {
        action.innerHTML = "Loading AI Response...";
        $("#speakButton").attr("disabled", true)
        setTimeout(function() {
          action.innerHTML = "";
          $("#speakButton").attr("disabled", false)
          responsiveVoice.speak("Hello, thanks for calling Dr. Archer's office. how may i assist you today?", "UK English Male", {onstart: responsiveVoiceStart, onend: responsiveVoiceEnd})
          output.innerHTML += "<div class='px-2'><b style='color:red;'>AI Bot:</b><p>Hello, thanks for calling Dr. Archer's office. how may i assist you today?</p></div>"
        }, 100);
      });

      function responsiveVoiceStart(){
        $("#speakButton").attr("disabled", true)
      }
      
      function responsiveVoiceEnd(){
        $("#speakButton").attr("disabled", false)
      }

      function ask_ai(message){
        $.ajax({
          type: "GET",
          url: "<%= book_slots_path %>",
          data: { 
            message_content: message
          },
          dataType: "json",
          beforeSend: function() {
            $("#speakButton").attr("disabled", true)
            action.innerHTML = "Loading AI Response...";
            $(".chat-block").animate({ scrollTop: 999999999999999 }, 800);
          },
          success: function(data) {
            action.innerHTML = "";
            $("#speakButton").attr("disabled", false)
            responsiveVoice.speak(data.message_content, "UK English Male", {onstart: responsiveVoiceStart, onend: responsiveVoiceEnd})
            output.innerHTML += "<div class='px-2'><b style='color:red;'>AI Bot:</b><p>"+data.message_content+"</p></div>"
            $(".chat-block").animate({ scrollTop: 999999999999999 }, 800);
          }
        });
      }

      function getVoices() {
        let voices = speechSynthesis.getVoices();
        if(!voices.length){
          let utterance = new SpeechSynthesisUtterance();
          speechSynthesis.speak(utterance);
          voices = speechSynthesis.getVoices();
        }
        return voices;
      }

    </script>
  </body>
</html>